<!DOCTYPE html>
<html>

<head>
    <title>Passport test Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>

<body>

    <div class="login">
        All OK!!!!!!!!!!!! You are register!
        <pre> <%- JSON.stringify(user) %></pre>
        <br>
        <a href="/auth/logout">logout</a>
    </div>


</body>

</html>