<!DOCTYPE html>
<html>

<head>
    <title>Passport test Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>

<body>

    <div class="login">
        <div class="login-block absolute-center">
            <div class="button">
                <a href="/auth/facebook" class="btn btn-primary btn-lg">Login with Facebook</a>
            </div>
            <div class="inner button">
                <a href="/auth/google" class="btn btn-danger btn-lg">Login with Google+</a>
            </div>
            <div class="inner button">
                <a href="/auth/twitter" class="btn btn-info btn-lg">Login with Twitter</a>
            </div>

        </div>
    </div>


</body>

</html>